<p id="notice"><%= notice %></p>

<p>
  <strong>Full name:</strong>
  <%= @profile.full_name %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @profile.company_name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @profile.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @profile.user %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
