<% @return_unit_values.each do |return_unit_value| %>
      <tr>
        <td><%= return_unit_value.reason %></td>
        <td><%= return_unit_value.customer %></td>
        <td><%= return_unit_value.amount %></td>
        <td><%= return_unit_value.agent %></td>
        <td>
					<div class="action-buttons">
					<%= link_to raw('<i class="fa fa-pencil" aria-hidden="true"></i>
'),  edit_return_unit_value_path(return_unit_value), title: "Modifier", remote: true %>




<%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"></i>
'), return_unit_value_delete_path(return_unit_value), remote: true, title: "Supprimer", class: "delete" %>
</div>
</td>
      </tr>
    <% end %>