<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @binder.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @binder.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @binder.status %>
</p>

<p>
  <strong>Folder:</strong>
  <%= @binder.folder %>
</p>

<p>
  <strong>User:</strong>
  <%= @binder.user %>
</p>

<%= link_to 'Edit', edit_binder_path(@binder) %> |
<%= link_to 'Back', binders_path %>
