<p id="notice"><%= notice %></p>

<h1>Imputation Reason Imputations</h1>

<table>
  <thead>
    <tr>
      <th>Imputation</th>
      <th>Imputation reason</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @imputation_reason_imputations.each do |imputation_reason_imputation| %>
      <tr>
        <td><%= imputation_reason_imputation.imputation %></td>
        <td><%= imputation_reason_imputation.imputation_reason %></td>
        <td><%= link_to 'Show', imputation_reason_imputation %></td>
        <td><%= link_to 'Edit', edit_imputation_reason_imputation_path(imputation_reason_imputation) %></td>
        <td><%= link_to 'Destroy', imputation_reason_imputation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Imputation Reason Imputation', new_imputation_reason_imputation_path %>
