<p id="notice"><%= notice %></p>

<p>
  <strong>Imputation:</strong>
  <%= @imputation_reason_imputation.imputation %>
</p>

<p>
  <strong>Imputation reason:</strong>
  <%= @imputation_reason_imputation.imputation_reason %>
</p>

<%= link_to 'Edit', edit_imputation_reason_imputation_path(@imputation_reason_imputation) %> |
<%= link_to 'Back', imputation_reason_imputations_path %>
