<%= form_with(model: agent, local: false) do |form| %>
  <div class="modal-body">
    <ul class="errors">
    </ul>

  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <%= form.label :first_name , "Prénom"%>
        <%= form.text_field :first_name, class: "form-control" %>
      </div>
    </div>

    <div class="col-sm-4">

      <div class="form-group">
        <%= form.label :last_name, "Nom" %>
        <%= form.text_field :last_name, class: "form-control" %>
      </div>
    </div>
    
    <div class="col-sm-4">

      <div class="form-group">
        <%= form.label :gender, "Sexe" %> <br />
        <%= form.select :gender, SEXE, {prompt: "Sélectionner"}, class: "form-control", required: true %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <%= form.label :address, "Adresse" %>
        <%= form.text_field :address, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :phone, "Téléphone" %>
    <%= form.text_field :phone, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :city, "Ville" %>
    <%= form.text_field :city, class: "form-control" %>
  </div>

  

  <div class="form-group">
    <%= form.label :email %>
    <%= form.email_field :email, class: "form-control" %>
  </div>

  
  </div><!-- modal body -->
  <div class="modal-footer">
    <%= link_to "Annuler", "#", class: "btn btn-secondary tx-mont tx-medium tx-11 tx-uppercase pd-y-12 pd-x-25 tx-spacing-1", data: {dismiss: "modal"} %>
    <%= form.submit  class: "btn btn-primary tx-mont tx-medium tx-11 tx-uppercase pd-y-12 pd-x-25 tx-spacing-1",  "data-loading-text"=>"Loading...", autocomplete: "off" %>
  </div><% end %>
