<!-- ########## START: LEFT PANEL ########## -->

      <ul class="br-sideleft-menu">
       <li class="br-menu-item">
          <%= link_to  raw('<i class="fa fa-home tx-20"></i> <span class="menu-item-label">Tableau de bord</span>'), dashboard_path, class: "br-menu-link active" %>
        </li><!-- br-menu-item -->

       

        <li class="br-menu-item">
          <a href="#" class="br-menu-link with-sub">
            <i class="fa fa-refresh tx-20"></i>
            <span class="menu-item-label">Opérations</span>
          </a><!-- br-menu-link -->
          <ul class="br-menu-sub">
            
            <li class="sub-item">
                <%= link_to  "Envoi UV", send_unit_values_path, class: "sub-link" %>
            </li>

            <li class="sub-item">
                <%= link_to  "Retour UV", return_unit_values_path, class: "sub-link" %>
            </li>

          
            <li class="sub-item">
                <%= link_to  "Remonter UV", root_path, class: "sub-link" %>
            </li>
            <li class="sub-item">
                <%= link_to  "Remonter Nafama", root_path, class: "sub-link" %>
            </li>


            <li class="sub-item">
                <%= link_to  "Caisse", root_path, class: "sub-link" %>
            </li>

             



          </ul>
        </li>





      

        
        <li class="br-menu-item">
          <a href="#" class="br-menu-link with-sub">
            <i class="fa fa-cog tx-20"></i>
            <span class="menu-item-label">Paramètres</span>
          </a><!-- br-menu-link -->
          <ul class="br-menu-sub">
            
            <li class="sub-item">
                <%= link_to  "Utilisateurs", all_users_path, class: "sub-link" %>
            </li>

            

            <li class="sub-item">
                <%= link_to  "Services", services_path, class: "sub-link" %>
            </li>

            
            <li class="sub-item">
                <%= link_to  "Type client", customer_types_path, class: "sub-link" %>
            </li>

            <li class="sub-item">
                <%= link_to  "Type tête de pont", head_pont_types_path, class: "sub-link" %>
            </li>

             
            <li class="sub-item">
                <%= link_to  "Types sous tête pont", sub_head_pont_types_path, class: "sub-link" %>
            </li>

            <li class="sub-item">
                <%= link_to  "Têtes de pont", head_ponts_path, class: "sub-link" %>
            </li>

            <li class="sub-item">
                <%= link_to  "Sous têtes de pont", sub_head_ponts_path, class: "sub-link" %>
            </li>

            <li class="sub-item">
                <%= link_to  "Agents", agents_path, class: "sub-link" %>
            </li>

           
            <li class="sub-item">
                <%= link_to  "Clients", customers_path, class: "sub-link" %>
            </li>


           

          </ul>
        </li>
       
      </ul><!-- br-sideleft-menu -->

      
       
        
      </div><!-- info-list -->

    <!-- ########## END: LEFT PANEL ########## -->