<%= form_with(model: importation, local: true) do |form| %>
  <% if importation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(importation.errors.count, "error") %> prohibited this importation from being saved:</h2>

      <ul>
      <% importation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :uid %>
    <%= form.text_field :uid %>
  </div>

  <div class="field">
    <%= form.label :file_name %>
    <%= form.text_field :file_name %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
