<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @importation.uid %>
</p>

<p>
  <strong>File name:</strong>
  <%= @importation.file_name %>
</p>

<p>
  <strong>User:</strong>
  <%= @importation.user %>
</p>

<p>
  <strong>Status:</strong>
  <%= @importation.status %>
</p>

<%= link_to 'Edit', edit_importation_path(@importation) %> |
<%= link_to 'Back', importations_path %>
