<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @checkout.name %>
</p>

<p>
  <strong>Minimumbalance:</strong>
  <%= @checkout.minimumbalance %>
</p>

<p>
  <strong>Maximum balance:</strong>
  <%= @checkout.maximum_balance %>
</p>

<p>
  <strong>Current balance:</strong>
  <%= @checkout.current_balance %>
</p>

<p>
  <strong>Status:</strong>
  <%= @checkout.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @checkout.user %>
</p>

<%= link_to 'Edit', edit_checkout_path(@checkout) %> |
<%= link_to 'Back', checkouts_path %>
