<%= form_with(model: payment, local: false) do |form| %>
  <div class="modal-body">
    <ul class="errors">
    </ul>

<div class="form-group">
    <%= form.label :checkout__id, "Réf. caisse", class: "required" %> <br />
    <%= form.collection_select(:checkout_id, @checkouts, :id, :name, {prompt: "Sélectionner"}, class: "form-control", required: true) %> 
  </div>

 <div class="form-group">
    <%= form.label :payment_type_id, "Type de paiement", class: "required" %> <br />
    <%= form.collection_select(:payment_type_id, @payment_types, :id, :name, {prompt: "Sélectionner"}, class: "form-control", required: true) %> 
  </div>


  <div class="form-group">
    <%= form.label :send_unit_value_id, "N°Transaction", class: "required" %> <br />
    <%= form.collection_select(:send_unit_value_id, @send_unit_values, :id, :id, {prompt: "Sélectionner"}, class: "form-control", required: true) %> 

  </div>

  <div class="form-group">
    <%= form.label :amount, "Montant", class: "required" %>
    <%= form.number_field :amount, class: "form-control", required: true %>
  </div>

  </div><!-- modal body -->
  <div class="modal-footer">
    <%= link_to "Annuler", "#", class: "btn btn-secondary tx-mont tx-medium tx-11 tx-uppercase pd-y-12 pd-x-25 tx-spacing-1", data: {dismiss: "modal"} %>
    <%= form.submit  class: "btn btn-primary tx-mont tx-medium tx-11 tx-uppercase pd-y-12 pd-x-25 tx-spacing-1",  "data-loading-text"=>"Loading...", autocomplete: "off" %>
  </div>
<% end %>
