<p id="notice"><%= notice %></p>

<p>
  <strong>Send unit value:</strong>
  <%= @payment.send_unit_value %>
</p>

<p>
  <strong>Payment type:</strong>
  <%= @payment.payment_type %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @payment.amount %>
</p>

<p>
  <strong>Shop:</strong>
  <%= @payment.shop_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @payment.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @payment.user %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
