<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @registry_type.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @registry_type.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @registry_type.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @registry_type.user %>
</p>

<%= link_to 'Edit', edit_registry_type_path(@registry_type) %> |
<%= link_to 'Back', registry_types_path %>
