<%= form_with(model: feature, local: true) do |form| %>
  <% if feature.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(feature.errors.count, "error") %> prohibited this feature from being saved:</h2>

      <ul>
      <% feature.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :feature_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :feature_description %>
  </div>

  <div class="field">
    <%= form.label :role_id %>
    <%= form.text_field :role_id, id: :feature_role_id %>
  </div>

  <div class="field">
    <%= form.label :permission_id %>
    <%= form.text_field :permission_id, id: :feature_permission_id %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, id: :feature_status %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :feature_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
