<div class="br-pageheader">
      <nav class="breadcrumb pd-0 mg-0 tx-12">
        
        <span class="breadcrumb-item active">Fonctionalités</span>
      </nav>
    </div><!-- br-pageheader -->
<div class="br-pagebody">
  <div class="br-section-wrapper">
    <div class="headers mg-b-20">
        <div class="left-content">
        </div>

        <div class="text-right">
            <%= link_to raw('<i class="fa fa-plus" aria-hidden="true"></i> Ajouter'), new_folder_path, class: "btn btn-primary tx-mont tx-medium tx-11 tx-uppercase pd-y-12 pd-x-25 tx-spacing-1", remote: true %>

        </div>

    </div>


<table id="datatable1" class="table display responsive nowrap">

  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Role</th>
      <th>Permission</th>
      <th>Status</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @features.each do |feature| %>
      <tr>
        <td><%= feature.name %></td>
        <td><%= feature.description %></td>
        <td><%= feature.role %></td>
        <td><%= feature.permission %></td>
        <td><%= feature.status %></td>
        <td><%= feature.user %></td>
        <td><%= link_to 'Show', feature %></td>
        <td><%= link_to 'Edit', edit_feature_path(feature) %></td>
        <td><%= link_to 'Destroy', feature, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Feature', new_feature_path %>
